@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Montserrat:wght@600&display=swap');

:root {
    --cor-dois: #539feb;
    --cor-tres: #FAF0CA;
    --cor-hover: #F95738;
} 

body {
    box-sizing: border-box;
    background-color: #0D3B66;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-tres);
}

.cabecalho__menu-links {
    text-decoration: none;
    color: var(--cor-tres);
}

.cabecalho__menu-links:hover {
    color: var(--cor-hover);
}

.principal__lista-linha::before {
    content: "★ "; /* Símbolo que você deseja adicionar */
    color: gold; /* Cor do símbolo */
    margin-right: 8px; /* Espaço entre o símbolo e o texto */
}

.principal__lista {
    font-weight: 400;
}

.principal__lista-links {
    color: var(--cor-dois);
    text-decoration: none;
}

.principal__lista-links:hover {
    color: var(--cor-hover);
}

.rodape {
    background-color: var(--cor-dois);
}